<%include ./partials/header%>
<div class="container">
    <div id="landing-header">
 		<h1>Welcome to WalletMan!</h1>
		<a href="/login" class="btn btn-lg btn-success">Login</a>
		<a href="/register" class="btn btn-lg btn-success">Register</a>
    </div>
</div>
<% include ./partials/footer %>