<% include ./partials/header %>
<center><div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center">Sign Up</h1>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-lg btn-block">Sign Up!</button>
                </div>
            </form>
            <a class="btn btn-outline-success btn-lg btn-block" href="/">Go Back</a>
        </div>
    </div>
</div></center>
<% include ./partials/footer %>

