h1 {
    font-family: 'Spicy Rice', cursive;
    font-size: 60px;
}

h2,h3,h4,h5,h6 {
    font-family: 'Spicy Rice', cursive;
    font-size: 30px;
}
body{
     font-family: 'Spicy Rice', cursive;
     background-color: white;
}
 
table,thead{
    font-family: Audiowide;
}

.rounded{
    width: 80%;
    height: 80%;
}